main {
  height: 100%;
  min-height: 100vh;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1rem;
  gap: 2rem;
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0px 2px 100px 32px rgba(247, 147, 26, 0.25);
  }
  50% {
    box-shadow: 0px 2px 100px 32px rgba(247, 147, 26, 0.325);
  }
}

.btc-logo {
  width: 12rem;
  max-width: 13rem;
  border-radius: 12rem;
  box-shadow: 0px 2px 100px 32px rgba(247, 147, 26, 0.25);
  animation: pulse 2s infinite ease-in-out;
}

.desktop-only {
  display: none;
}

.tablet-down {
  display: block;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.progress-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.progress-bar {
  --height: 1.75rem;

  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: var(--height);
  border-radius: var(--height);
  background: rgba(247, 147, 26, 0.3);
  backdrop-filter: blur(0.25rem);
}

.progress-bar-progress {
  width: 0%;
  height: var(--height);
  border-radius: var(--height);
  background: #f7931a;
  transition: width 0.5s ease-in-out;
  box-shadow: 0px 2px 10px rgba(247, 147, 26, 0.5);
}

.progress-labels {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 576px) {
  main {
    padding: 3rem;
  }

  .btc-logo {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  main {
    padding: 4rem;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-only {
    display: block;
  }

  .tablet-down {
    display: none;
  }
}
